body {
    background: #f8f8f8;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-transform: capitalize;
}

body > p:first-letter {
    font-size: 120%;
    color:orange;
}

ul#mainMenu {
    list-style-type: none;
    
}

ul#mainMenu a {
    color: cadetblue;
    text-decoration: none;
}

ul#mainMenu a:hover {
    color: orange;
}

.catalogMenu {
    list-style-type: none;
}


.catalogMenu a {
    text-decoration: none;
    color: cadetblue;
}

.catalogMenu a:hover {
    color: orange;
}

.blackHeader {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea 
}

.shortDescription {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.fullDescription {
    color: #484343;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.options {
    list-style-image: url("https://www.shareicon.net/data/2015/05/24/43578_list_32x32.png");
    line-height: 14px;
}

textarea,
input {
    font-size: 14px;
    font-style: oblique;
    width: 300px;
    background-color: #fffae9;
    text-transform: capitalize;
}

textarea:focus,
input:focus {
    background-color: white;
    outline-color: orange;
}

input[type="submit"] {
    color: white;
    display: block;
    background-color: orange;
    font-style: normal;
    height: 40px;
    border: none;
    border: 3px;
    border-radius: 3px; 
}

img {
    border-style: double;
    border-color: #eaeaea;
    border-width: 10px;
}

img:hover {
    border: none;
    padding: 10px;
}

img.logo {
    border: none;
}

table, th,
td {
    border-collapse: collapse;
    border: 1px solid cadetblue;
    text-align: center;
    border-spacing: 0px;
}

th {
    padding: 8px 4px;
}

tbody>tr:hover {
    background-color: lightblue; 
}

td {
    padding: 4px 8px;
}

td:nth-child(2) {
    text-align: left;
}

.ymaps-2-1-68-searchbox-button-text {
    background-color: orange;
    color: white;
}

.ymaps-2-1-68-searchbox-button.ymaps-2-1-68-_pin_right {
    background-color: orange;    
}


